<div>
    <input type="text" ng-model="model" uib-typeahead="airport as airport.name for airports in airport | filter:{name:$viewValue} | limitTo:20" class="form-control select-full" autocomplete="false" typeahead-select-on-exact="true" typeahead-no-results="noResults" ng-show="!loading" style="width: 300px;" required="required">
    <div ng-show="noResults">
    	<i class="glyphicon glyphicon-remove"></i> Airport not found
	</div>
	<div ng-show="loading">
    	<span class="icon-processing"><img src="images/processing.gif"></span>
	</div>
</div>
