<div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""  ui-sref="main.index">Booking App</a>
          </div>

          <nav class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="authenticated"><a>{{user.fullName}}</a></li>
                <li ng-show="authenticated"><a href="" ng-click="signOut()">Sign Out</a></li>
                <li ng-show="!authenticated"><a href="" ui-sref="main.signin">Sign In</a></li>
                <li ng-show="!authenticated"><a href="" ui-sref="main.signup">Sign Up</a></li>
            </ul>
          </nav>
        </div>
    </div>
</div>