<div ng-show="error" class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> {{error}}
</div>
<fieldset>
    <legend class="col-md-6 col-md-offset-3">Sign up for a new account</legend>
    <form name="signUpForm" ng-submit="signUp()">
        
        <div ng-class="{'form-group': true, 'has-error': signUpForm.firstName.$invalid}">
            <div class="col-md-6 col-md-offset-3">
                <input type="text"
                    class="form-control"
                    id="firstName"
                    name="firstName"
                    value=""
                    ng-model="signUpData.firstName"
                    placeholder="First name"
                    required
                    minlength="5"
                    maxlength="254" 
                    pattern="^[a-zA-Z\sñÑ\u00E0-\u00FC]+$" />
                <span class="help-block"></span>
                <span class="help-block"></span>
            </div>
        </div>
        
        <div ng-class="{'form-group': true, 'has-error': signUpForm.lastName.$invalid}">
            <div class="col-md-6 col-md-offset-3">
                <input type="text"
                    class="form-control"
                    id="lastName"
                    name="lastName"
                    value=""
                    ng-model="signUpData.lastName"
                    placeholder="Last name"
                    required
                    minlength="5"
                    maxlength="254" 
                    pattern="^[a-zA-Z\sñÑ\u00E0-\u00FC]+$" />
                <span class="help-block"></span>
                <span class="help-block"></span>
            </div>
        </div>
        
        <div ng-class="{'form-group': true, 'has-error': signUpForm.email.$invalid}">
            <div class="col-md-6 col-md-offset-3">
                <input type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    value=""
                    ng-model="signUpData.email"
                    placeholder="Email"
                    required
                    minlength="5"
                    maxlength="254" 
                    pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+" />
                <span class="help-block"></span>
                <span class="help-block"></span>
            </div>
        </div>
        
        <div ng-class="{'form-group': true, 'has-error': signUpForm.password.$invalid}">
            <div class="col-md-6 col-md-offset-3">
                <input type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    value=""
                    ng-model="signUpData.password"
                    placeholder="password" 
                    required
                    minlength="5"
                    maxlength="50"/>
                <span class="help-block"></span>
                <span class="help-block"></span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button id="submit" ng-disabled="signUpForm.$invalid" type="submit" value="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
        
        <div class="sign-in-now col-md-6 col-md-offset-3">
            <p>Already a member? <a href="" ui-sref="main.signin">Sign in now</a></p>
        </div>
   
</fieldset>
